@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url("/fontes/idroid.otf") format('opentype');
    font-weight: normal;
}

:root {
    --color-1: #c5ebd6;
    --color-2: #83e1ad;
    --color-3: #3ddc84;
    --color-4: #2fa866;
    --color-5: #1a5c37;
    --color-6: #063d1e;
    --font-padrão: arial, verdana, helvetica, sans-serif;
    --font-destaque: "Bebas Neue", cursive;
    --font-android: 'Android', cursive;
}

* {
    margin: 0;
    padding: 0;

}



body {
    background-color: var(--color-1);
    font-family: var(--font-padrão);
}

a.externo::after{
    content: "\1F517";

}

header {
    background-image: linear-gradient(var(--color-4), var(--color-6));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}

header>h1 {
    color: #fff;
    font-size: 3em;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);

}

header>p {
    color: #fff;
    font-size: 1em;
    font-family: var(--font-padrão);
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);
    margin-bottom: 20px;
}

nav>a {
    color: var(--color-2);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
}

nav>a:hover {
    background-color: var(--color-4);
    color: var(--color-6);
}

nav {
    background-color: var(--color-6);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--color-6);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--font-android);
    color: var(--color-5);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--color-2), transparent);
    text-indent: 8px;
}main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

main strong{
    color: var(--color-5);
    font-weight: bold;
    padding: 2px 5px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--color-6);
    background-color: var(--color-2);
    padding: 2px 5px;
}

main a:hover{
  text-decoration: underline;
  color: var(--color-5);
}
main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
div.video{
    background-color: var(--color-6);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;

}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width:90%;
    height: 90%;
}
aside{
    background-color: var(--color-2);
    padding:10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.205);
}

aside h3{
    background-color: var(--color-5);
    color:white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: "\1F5F8\00a0\00a0";
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--color-6);
    color: #fff;
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--color-2);
}