@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FBE2D0, #FFF5F3 );
}
main {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #1a262e75;
    width: 600px;
    padding: 30px;
    margin: auto;
}
h1{
color: #507993;
text-align: center;
text-shadow: 1px 1px 2px rgba(29, 20, 20, 0.705);
}

h2{
    color: #D4B99E;
}
p {
    text-align: justify;
}